In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from preprocessy.pipelines import StandardPipeline

In [3]:
def test_input():
    params = {'target_label':"Survived",'cat_cols':['Pclass','Sex','Parch','Embarked'],'drop':True,'column_list':["PassengerId","Name","Ticket","Cabin"]}
    p = StandardPipeline(train_df_path="/Users/mac/pypi/preprocessy/datasets/titanic.csv",test_df_path="/Users/mac/pypi/preprocessy/datasets/titanic.csv", params=params)
    p.process()
    return params

In [4]:
params = test_input()
params

Pipeline Class: StandardPipeline

+-----------------------+---------------------------------------------------------------------------------------+
| Pipeline Property     | Value                                                                                 |
+-----------------------+---------------------------------------------------------------------------------------+
| Train Dataframe Path  | /Users/mac/pypi/preprocessy/datasets/titanic.csv                                      |
| Test Dataframe Path   | /Users/mac/pypi/preprocessy/datasets/titanic.csv                                      |
| Config File Path      | None                                                                                  |
| Pipeline Stages       | Read file, Parse dataset, Execute, Encode, Handle outliers, Execute, Train test split |
| Total Pipeline Stages | 7                                                                                     |
| Total Params          | 6                                                                                     |
+-----------------------+---------------------------------------------------------------------------------------+
/Users/mac/pypi/preprocessy/preprocessy/parse/_summarize.py:30: UserWarning: Parameter 'target_label' is empty. If not provided and is present in dataframe, it may get encoded. To mitigate, provide the target_label from dataframe or provide explicit list of columns for encoding via the 'cat_cols' parameter
  warnings.warn(

Processing...

==> Completed Stage: Read file

==> Completed Stage: Parse dataset

==> Completed Stage: Execute

==> Completed Stage: Encode

==> Completed Stage: Handle outliers

==> Completed Stage: Execute

==> Completed Stage: Train test split

Pipeline Stages |████████████████████████████████████████| 7/7 [100%] in 0.5s (1

Pipeline Completed Successfully

{'target_label': 'Survived',
 'cat_cols': ['Pclass',
  'Sex',
  'Parch',
  'Embarked',
  'PclassEncoded',
  'SexEncoded',
  'ParchEncoded',
  'EmbarkedEncoded',
  'Survived',
  'Survived'],
 'drop': True,
 'column_list': ['PassengerId', 'Name', 'Ticket', 'Cabin'],
 'train_df_path': '/Users/mac/pypi/preprocessy/datasets/titanic.csv',
 'test_df_path': '/Users/mac/pypi/preprocessy/datasets/titanic.csv',
 'train_df':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'test_df':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'ord_cols': [],
 'X_train':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'X_test':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'y_train': 0      0
 1      1
 3      1
 9      1
 13     0
       ..
 860    0
 861    0
 866    1
 871    1
 874    1
 Name: Survived, Length: 175, dtype: int64,
 'y_test': 0      0
 1      1
 3      1
 9      1
 13     0
       ..
 860    0
 861    0
 866    1
 871    1
 874    1
 Name: Survived, Length: 175, dtype: int64}

In [10]:
params

{'target_label': 'Survived',
 'cat_cols': ['Pclass',
  'Sex',
  'Parch',
  'Embarked',
  'PclassEncoded',
  'SexEncoded',
  'ParchEncoded',
  'EmbarkedEncoded',
  'Survived',
  'Survived'],
 'drop': True,
 'column_list': ['PassengerId', 'Name', 'Ticket', 'Cabin'],
 'train_df_path': '/Users/mac/pypi/preprocessy/datasets/titanic.csv',
 'test_df_path': '/Users/mac/pypi/preprocessy/datasets/titanic.csv',
 'train_df':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'test_df':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'ord_cols': [],
 'X_train':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'X_test':      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 3           1       1  female  35.0      1      0  53.1000        S
 9           1       2  female  14.0      1      0  30.0708        C
 13          0       3    male  39.0      1      5  31.2750        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 860         0       3    male  41.0      2      0  14.1083        S
 861         0       2    male  21.0      1      0  11.5000        S
 866         1       2  female  27.0      1      0  13.8583        C
 871         1       1  female  47.0      1      1  52.5542        S
 874         1       2  female  28.0      1      0  24.0000        C

     PclassEncoded SexEncoded ParchEncoded EmbarkedEncoded
 0               0          0            0               0
 1               1          1            0               1
 3               1          1            0               0
 9               2          1            0               1
 13              0          0            3               0
 ..            ...        ...          ...             ...
 860             0          0            0               0
 861             2          0            0               0
 866             2          1            0               1
 871             1          1            1               0
 874             2          1            0               1

 [175 rows x 12 columns],
 'y_train': 0      0
 1      1
 3      1
 9      1
 13     0
       ..
 860    0
 861    0
 866    1
 871    1
 874    1
 Name: Survived, Length: 175, dtype: int64,
 'y_test': 0      0
 1      1
 3      1
 9      1
 13     0
       ..
 860    0
 861    0
 866    1
 871    1
 874    1
 Name: Survived, Length: 175, dtype: int64}

In [23]:
train_new = params["X_train"]
test_new = params["X_test"]
train_y = train_new["Survived"]
test_y = test_new["Survived"]
colstodrop = ["Survived","Sex","Parch","SurvivedEncoded","PclassEncoded","Embarked"]
train_new.drop(colstodrop,axis=1,inplace=True)
test_new.drop(colstodrop,axis=1,inplace=True)

In [12]:

import pandas as pd
from sklearn.model_selection import train_test_split
original = pd.read_csv("/Users/mac/preprocessy/datasets/titanic.csv")
cols = ["PassengerId","Name","Ticket","Cabin"]
original.drop(cols,axis=1,inplace=True)
original.dropna(inplace=True)
original["SexEncoded"] = original["Sex"].apply(lambda x: 0 if x=='female' else 1)
original["EmbarkedEncoded"] = original["Embarked"].apply(lambda x: 0 if x=='C' else( 1 if x=='S' else 2))
original.drop(['Sex','Embarked'],axis=1,inplace=True)
y = original["Survived"]
X = original.drop(["Survived"],axis=1)
trainx, testx, trainy, testy = train_test_split(X,y,test_size=0.2)

In [8]:
from sklearn.linear_model import LogisticRegression

In [24]:
l = LogisticRegression(max_iter=200)
l.fit(train_new,train_y)

LogisticRegression(max_iter=200)

In [26]:
print("model score: %.3f" % l.score(test_new, test_y))

model score: 0.817

In [20]:
def sc(X,y):
    trainx, testx, trainy, testy = train_test_split(X,y,test_size=0.2)
    l = LogisticRegression(max_iter=200)
    l.fit(trainx,trainy)
    t = l.score(testx, testy)
    return t

In [21]:
z = []
for _ in range(5):
    z.append(sc(X,y))
sum(z)/len(z)

0.793006993006993

In [19]:
z

[0.8391608391608392,
 0.8391608391608392,
 0.8391608391608392,
 0.8391608391608392,
 0.8391608391608392]